body {
    background-image: url(/hlavna_stranka/background.jpg);

}

#kovatyp_logo {
    width: 200px;
    height: 70px;

    position: relative;
    top: 20px;
    left: 20px;
}

/*BUTTON UKAZKY OFIRME*/

#ofirme {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 120px;
    height: 50px;
    position: absolute;
    right: 300px;
    top: 20px;
}

#ofirme:disabled {
    cursor: default;
    opacity: .3;
}

#ofirme:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

#ofirme:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

#ofirme:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

/*BUTTON KONTAKT*/

#kontakt {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 120px;
    height: 50px;
    position: absolute;
    right: 40px;
    top: 20px;
}

#kontakt:disabled {
    cursor: default;
    opacity: .3;
}

#kontakt:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

#kontakt:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

#kontakt:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

/*BUTTON UKAZKY PRAC*/

#ukazkyprac {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 120px;
    height: 50px;
    position: absolute;
    right: 170px;
    top: 20px;
}

#ukazkyprac:disabled {
    cursor: default;
    opacity: .3;
}

#ukazkyprac:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

#ukazkyprac:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

#ukazkyprac:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

h1 {
    position: relative;
    top: 80px;
    left: auto;
    right: auto;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#podnadpis {
    position: relative;
    top: 60px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hlavny_obrazok {
    position: relative;
    top: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 600px;
}

#zabradlia {
    position: absolute;
    top: 530px;
    left: 300px;
    width: 300px;
    height: 150px;
}

#schodistia {
    position: absolute;
    top: 530px;
    left: 620px;
    width: 300px;
    height: 150px;
}

#brany {
    position: relative;
    top: 250px;
    width: 300px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#p_zabradlia {
    position: absolute;
    left: 405px;
    top: 665px;
    font-size: 28px;
    color: white;

}

#p_schodistia {
    position: absolute;
    left: 710px;
    top: 665px;
    font-size: 28px;
    color: white;
    text-align: center;
}

#p_brany {
    position: relative;

    top: 230px;
    font-size: 28px;
    color: white;
    text-align: center;
}

#pata {
    position: relative;
    top: 430px;
    font-size: 17px;
    text-align: center;

}

a:visited {
    color: white;
    text-decoration: line-through;
}

@media(max-width:600px) {
    #kovatyp_logo {
        position: absolute;
        left: 120px;
        width: 200px;
    }
}

@media(max-width:650px) {
    #ofirme {
        position: relative;
        top: 100px;
        right: -80px;
    }
}

@media(max-width:650px) {
    #ukazkyprac {
        position: relative;
        left: 150px;
        top: 110px;
    }
}

@media(max-width:650px) {
    #kontakt {
        position: relative;
        left: 220px;
        top: 0px;
    }
}

@media(max-width:650px) {
    #hlavny_obrazok {
        position: relative;
        left: 0px;
        top: 100px;
        width: 380px;
        height: 180px;
    }
}

@media(max-width:650px) {
    #pata {
        position: relative;
        left: 0px;
        top: 250px;
        width: 400px;
        height: 200px;
    }
}